
header{
    background: url("../img/fondo1,jpg");
    background-size: cover;
}

.bg-portafolio{
    background-color: #92b1b1;
}

.bg-portafolio ul li a{
    color: white
}

.bg-portafolio{
    color: aquamarine;
}

#hero{
    padding-top: 100px;
    padding-bottom: 100px;
}

#hero{
    color: rgb(74, 119, 104);
    font-size: 50px;
    margin-bottom: 30px;
}

#hero p{
    color: black;
    font-size: 30;
}

body{
    background-color: aqua;
}
